/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page {
    width: 900px;
    margin: auto;
}

.entete {
    height: 100px;
}

.colonne_menu {
    float: left;
    width: 200px;
    height: 100%;
}

.colonne_contenu {
    margin-left: 200px;
}

.pieddepage {
    height: 50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body {
    /* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    background-color: rgba(47, 255, 0, 0.85);
    font-family: Arial;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.page {
    margin: 0px;
    padding: 0px;
}

.entete {
    background-color: rgb(208, 17, 112);
    padding: 10px;
}

.titre {
    font-size: 10px;
    color: aqua;

}

.slogan {
    font-size: 10px;
    color: blue;
    font-style: italic;

}

.colonnes {
    background-color: rgb(243, 16, 148);
    margin: 10px;
    ;
}

.colonne_menu {
    background-color: rgb(243, 16, 148);

}

.colonne_contenu {
    background-color: rgb(192, 195, 236);
    margin-block: 20px;
    list-style-type: none;
    color: black;
}

.colonne_menu ul {
    margin: 0px;
    padding: 0px;
}

h1 {
    background-color: white;
    margin: 10px;
    margin-bottom: 20PX;
    border-bottom: 5px solid purple;
}

h2 {
    color: rgb(206, 0, 0);
    font-size: 20px;
    margin: 20px;
    font-variant: small-caps;
}

strong {
    color: rgb(162, 232, 20);
    font-weight: 400;

}

em {
    text-emphasis-style: initial;

}

.introduction {
    font-style: italic;
    border: 10px;
    border-width: 10px;
    border-style: dotted;
    margin: 10px;
    border-radius: 10px;
}

.link {
    font-weight: 900;
}

.hover {
    color: blue;
    text-decoration: none;

}

.pieddepage {
    background-color: rgb(6, 2, 2);
    color: brown;
    text-align: center;
    line-height: 60px;
}

.colonne_menu li {
    list-style-type: none;
    background-color: #f6c100;
    display: block;
    margin: 5px;
    text-align: center;
}

.colonne_menu li:hover {
    background-color: black;
    display: block;
    padding: 5px;
}

a:hover {
    text-decoration: none;

}